 h1 {
    text-align: center;
    border:dotted rgb(0, 0, 0);
}

body {
    /* background-color: black;
    color: white; */
    text-align: center;
  }

  .board td {
    margin: auto;
    /* box-shadow: 18px 25px 16px 14px rgba(0, 0, 0, 0.56); */
    border-style:solid;
  }

  
.center{
    margin:auto
}

.cell {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
  
.safe{
  border-collapse: collapse;
}

/* .cell-0-0{
  color: red;
} */